// src/styles/hero.scss
@use './variables';

.hero {
  background-image: url('../images/adi-goldstein-Hli3R6LKibo-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100vw;
  height: 90vh;
  max-height: 90vh;
  max-width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 

  &__title {
    color: variables.$primaryColor; 
   
    &__text {
        color: #fff; 
      }
  }
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
