@use 'variables.scss';

.hero {
  background-image: url('../images/image3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__title {
    color: variables.$destaque; 
    margin-bottom: 50px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }
}
